#tile-frame .glyphicon {
  font-size: .85em;
  color: #DEC75D;
}

#tile-frame {
  width: 70%;
  max-width: 600px;
}

#tile-frame .well {
  position: relative;
  max-width: 200px;
  height: 0;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#tile-frame .unclickable {
  background-color: #000000;
  cursor: default;
}

#tile-frame .clickable {
  background-color: #DB8A39;
  cursor: pointer;
}

#tile-frame .winning {
  background-color: red;
  cursor: pointer;
}

#tile-frame .starting {
  background-color: green;
  cursor: default;
}
